script.
  function preload()
  {
     if (typeof angular == 'undefined')
     {
       window.location.replace("/todoList");
     }
  }  
  window.onpaint = preload();
div(ng-init="initTasks()")
           section#undoneTasks
              header.wrapperlist#header
                  form.formTask(ng-submit="createTask()")
                     input.input-block-level#newTaskDescription(rows = 3, placeholder='Nouvelle tâche ?', ng-model="newTask.description", autofocus, ng-blur="cancelNewTask()")
              ul.wrapperlist(ng-show="tasksPresent")   
                 li.item(ng-repeat="item in data.Tasks | filter:searchNotDone | orderBy:importance" ng-class="{editing: item.editing}")
                    div.view
                      a.checkBoxUndone.pull-right(ng-click="chgState(item)") test
                      a.btn.btn-mini.pull-right.buttonTask(ng:click="removeTask(item)")
                        i.icon-remove-sign
                      a.btn.btn-mini.pull-right.buttonTask(ng:click="editTask(item,$event)")
                        i.icon-edit
                      span(ng:dblclick="editTask(item,$event)")
                        span.emphasisIndex {{$index+1}}-
                        span(ng-bind-html="item.description")
                      |  ({{item.importance}})               
                    form.editForm(ng-submit="doneEditing(item)")
                      input.edit(ng-model="item.description", ng-blur="doneEditing(item)", ng-focus="item.editing", ng-Escape="undo(item)")
           section#doneTasks
              ul.wrapperlist(ng-show="tasksPresent")   
                 li.item(ng-repeat="item in data.Tasks | filter:searchDone | orderBy:importance")
                    div.view
                      a.checkBoxDone.pull-right(ng-click="chgState(item)") test
                      a.btn.btn-mini.pull-right.buttonTask(ng:click="removeTask(item)")
                        i.icon-remove-sign
                      a.btn.btn-mini.pull-right.buttonTask(ng:click="editTask(item,$event)")
                        i.icon-edit
                      span
                        span.emphasisIndexDone {{$index+1}}-
                        span.doneStyle  {{item.description}} ({{item.importance}})                
