div.container-fluid.wrapper#spinner(ng-init="initLists()", ng-hide="loaded")
div.row-fluid(ng-show="loaded")          
   div.offset1.span10
      div.row-fluid   
         button.btn.btn-primary(ng-click="showNewListPanel();") Nouvelle Liste              
      div(collapse="isCollapsed")
          div.span8.offset1.newTodoListPanel
            form.formNewList
               input.input-block-level(type='text', placeholder='Title', ng-model="newlist.title")
               div.btn-toolbar
                  button.btn.btn-primary(ng-click="action()") {{buttonText}}
                  button.btn(ng-click="cancel()") Cancel 
      div.row-fluid#content
        ul
          li(ng-repeat="item in data.lists | orderBy:'creationDate'")
             a(ng:click="showDetails(item)") 
               | ({{item.items.length}})
               br
               | {{item.title}}
               div.btn-toolbar.buttonListToolbar(role="toolbar")
                 button.btn.btn-primary.btn-mini.pull-right.buttonList(ng:click="removeList(item)") 
                    i.icon-remove-sign.icon-white
                 button.btn.btn-info.btn-mini.pull-right.buttonList(ng:click="editList(item,$event)")
                    i.icon-edit.icon-white